/*global---*/
p, a{
    font-size: 18px;
    font-family: "Poppins", Sans-serif;
    color: #3C3E41;
}
h2{
    font-family: "Montserrat", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #3C3E41;
}
h3{
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #1E2125;
}

.logo-text {
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.logo-text img{
    width: 50px;
}

/*----------header---*/
button.mail-head>a {
    color: #ff014f;
    text-decoration: none;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
    font-size: 16px;
}
button.mail-head {
    background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    border: 0;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}
.head-menu a.nav-link {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 700;
}